<ion-header>
  <ion-toolbar>
    <ion-title>registerActivity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-button color="primary" (click)="uploadImage()">Upload image</ion-button>
 <ion-button color="primary" *ngIf="activeCreatePost" (click)="crear_post()">Create Post</ion-button>

      <ion-list>
          <ion-item *ngIf="imagenPreview">
              <img [src]="imagenPreview" alt="">
          </ion-item>
      </ion-list>

    <ion-card *ngFor="let post of uploadFileService.imagenes">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
        <img [src]="post.img" alt="">
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
  </ion-card>

</ion-content>
