<ion-header>
  <ion-toolbar color="primary" padding>
    <ion-buttons slot="start">
        <ion-back-button text="Atrás" defaultHref="list-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <h1>{{ userDetail.name }}</h1>
          <ion-label>{{ userDetail.name }}</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
   </ion-card>
</ion-content>
